.App {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Todos Stylinh */

.container {
  width: 100%;
}

.todoContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.todo {
  width: 30%;
  margin-bottom: 2%;
  background-color: #12355B;
  cursor: pointer;
}

.todo:hover {
  background-color: #BFDCE7;
}

.complete {
  text-decoration: line-through;
  background-color: rgba(18, 53, 91, 0.555);
}

/* Form Styling */

.addContainer {
  height: 40px;
  margin-bottom: 2%;
}

.addInput {
  height: 100%;
  width: 30%;
}

/* Button Styling */

.btn {
  height: 100%;
  color: #FFFCF9;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.add {
  background-color: #12355B;
}

.clear {
  background-color: #FF6978;
  height: 40px;
}

.btn:hover {
  filter: invert(.2)
}